@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.main-screen {
  flex: 1 0 100%;
  position: relative;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.block {
  text-align: center;
  &__icon {
    margin-bottom: 32px;
  }
  &__title {
    color: #353738;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-bottom: 22px;
  }
  &__text {
    color: #848789;
    font-size: 18px;
    line-height: 34px;
    &--justify {
      color: #848789;
      font-size: 16px;
      line-height: 30px;
      text-align: justify;
      &:after {
        content: '';
        width: 50px;
        height: 1px;
        background-color: #353738;
        display: block;
        margin: 0 auto;
        margin-top: 35px;
      }
    }
  }
  @media (max-width: 1500px) {
    &__text {
      &--justify {
        &:after {
          margin-top: 15px;
        }
      }
    }
  }
}

.item {
  display: block;
  position: relative;
  height: 100%;
  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    @include transition;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(100,194,158, .5);
    & img {
      margin-bottom: 14px;
    }

    span {
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2.8px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &:hover {
    .item__logo {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-width: 1100px) {
    height: auto;
    padding-bottom: 70%;
  }
}
