.slider {
  background-color: #f7f7f7;
  padding: 120px 0 180px 0;
  text-align: center;

  @media (max-width: 1000px) {
    padding: 80px 0 100px;
  }
  @media (max-width: 600px) {
    padding: 40px 0 60px;
  }

  &__icon {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 20px;
    color: #353738;
    letter-spacing: 1.8px;
    font-size: 18px;
    font-weight: 700;
    span {
      font-weight: 300px;
      color: #848789;
      padding-left: 7px;
    }
  }

  &__text {
    color: #848789;
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
  }

  .glide {

    .glide__track {
      transition: height 300ms ease-in-out;
    }

    &__bullets {
      bottom: -104px;
      @media (max-width: 1100px) {
        bottom: -50px;
      }
      @media (max-width: 600px) {
        bottom: -30px;
      }
    }
    &__bullet {
      border: 1px solid #c8c8c8;
      width: 11px;
      height: 11px;
      box-shadow: none;
      background-color: transparent;
      margin: 0 5px;
      &:hover {
        border: 1px solid #c8c8c8;
      }
      &--active {
        background-color: #a9afb3 !important;
        border: 1px solid #c8c8c8;
      }

    }
  }
}

